body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* using .flex-space-between in Order.js currently */
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

/* dashboard - dash manage products */
.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  flex-grow: 1;
}
